<md-bottom-sheet class="md-list md-has-header">

  <md-subheader>
    <h1>More Weather?</h1>
  </md-subheader>

  <md-content>
    <p> Contact: <span class="name">Haven Ramos</span></p>
    <p class="md-body-1">Exprerienced Fullstack Software Developer, specializing in Javascript frameworks and libraries.</p>
  </md-content>



  <md-list>
    <md-item ng-repeat="item in $ctrl.items">
      <md-button ng-click="$ctrl.performAction(item)">
        <md-icon md-svg-icon="{{ item.icon }}"></md-icon>
        {{item.name}}: {{item.value}}
      </md-button>
    </md-item>
  </md-list>

</md-bottom-sheet>